<div class="row">
    <div class="col">
        <table class="table table-bordered  border-dark">
          <thead class="table-dark">
            <tr>
              <th>Sr No.</th>
              <th>Product Name</th>
              <th>HSN</th>
              <th>Qty.</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = receivedProducts.length - 2; i >= 0 ; i--) { %>
              <tr>
                <td><%= receivedProducts.length - i - 1 %></td>
                <td><%= receivedProducts[i].ProductName %></td>
                <td><%= receivedProducts[i].HSN %></td>
                <td><%= receivedProducts[i].Quantity %></td>
                <td><%= receivedProducts[i].Price %></td>
                <td><%= receivedProducts[i].Amount %></td>
              </tr>
            <% } %>

          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" rowspan="6">
                <div class="d-flex flex-column fs-6 bankDetails">
                 <span class="fw-bold"> Payment Method: </span>
                  <span>Bank Name: Janaseva Sahakari Bank (Borivali) LTD.</span>
                  <span>Account Number: 008021100000184 </span>
                   <span> Branch: Bhayander East </span>
                   <span> IFSC Code:JASB0000009</span>
                </div>
              </td>

              <td class="">Total</td>
              <td class="totalBeforeTax"><%= receivedProducts[0].total %></td>
            </tr>
            <tr>
              <td class="">CGST 9%</td>
              <td class="CGST tax"><%= receivedProducts[0].CGST %></td>
            </tr>
            <tr>
              <td class="">SGST 9%</td>
              <td class="SGST tax"><%= receivedProducts[0].SGST %></td>
            </tr>
            <tr>
              <td class="">IGST 18%</td>
              <td class="IGST tax"><%= receivedProducts[0].IGST %></td>
            </tr>
            <tr>
              <td class="">Round Off</td>
              <td class="roundOff"><%= receivedProducts[0].roundOff %></td>
            </tr>
            <tr class="table-dark">
              <td class="">Grand Total</td>
              <td class="grandTotal "><%= receivedProducts[0].grandTotal %></td>
            </tr>
          </tfoot>
        </table>
    </div>
</div>
